.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  align-items: center;
  justify-content: center;
}

.popup.popup_is-opened {
  display: flex;
}

.popup__content {
  width: 430px;
  padding: 35px;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}

.popup__close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
  border: none;
  background-image: url(../../images/close.svg);
  background-color: transparent;
  background-size: contain;
}

.popup__title {
  margin: 0 0 30px;
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
}

.popup__form {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.popup__input {
  width: 100%;
  height: 40px;
  margin: 0 0 15px;
  padding: 5px 5px 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 16px;
  line-height: 25px;
  outline: none;
  box-sizing: border-box;
}

.popup__input:focus {
  border-bottom: 2px solid #000;
}

.popup__input:last-of-type {
  margin: 0;
}

.popup__error {
  width: 100%;
  margin: 4px 0 0;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
}

.popup__button {
  width: 100%;
  height: 50px;
  margin: 40px 0 0;
  border: 1px solid rgba(0, 0, 0, .2);
  color: rgba(0, 0, 0, .2);
  font-size: 40px;
  border-radius: 10px;
  cursor: default;
}

.popup__button_active {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.popup__button_type_save {
  font-size: 20px;
  line-height: 1;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .popup__content {
    width: calc(100% - 60px);
    padding: 15px;
  }

  .popup__close {
    width: 20px;
    height: 20px;
    top: -20px;
    right: -20px;
  }

  .popup__title {
    margin: 0 0 15px;
    font-size: 20px;
  }

  .popup__button {
    margin: 20px 0 0;
  }

  .popup__button_type_save {
    font-size: 20px;
  }
}
