.join {
  max-width: 500px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 800px;
  color: #fff;
}

.join__title {
  margin: 0 0 25px;
  font-size: 40px;
  line-height: 1.1;
  text-align: center;
}

.join__checkbox {
  position: absolute;
  visibility: hidden;
}

.join__label {
  width: 250px;
  height: 50px;
  margin: 0 auto 25px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  border-radius: 25px;
  cursor: pointer;
}

.join__label::after {
  content: '';
  width: 70px;
  height: 40px;
  background: transparent;
  border: 2px solid #000;
  border-radius: 25px;
  position: absolute;
  top: calc(50% - 20px);
  left: 4px;
  transition: .5s ease-in-out;
  box-sizing: border-box;
}

/* При нажатии на checkbox рамка перемещается на другой заголовок */
.join__checkbox:checked + .join__label::after {
  transform: translateX(88px);
  width: 150px;
}

.join__text-label {
  width: 50px;
  margin: 0;
  font-size: 20px;
  line-height: 1;
  color: #000;
}

.join__text-label:last-of-type {
  width: 130px;
}

/* контейнер для форм, transform-style дает объемность формам */
.join__3d-wrapper {
  width: 100%;
  height: 450px;
  display: flex;
  transform-style: preserve-3d;
  transition: 1.5s cubic-bezier(.1, .25, .4, 1.6);
}

/* При нажатии на checkbox переворачивает форму */
.join__checkbox:checked ~ .join__3d-wrapper {
  transform: rotateY(180deg);
}


/* абсолютное позиционирование для того, чтобы формы располагались спина к спине */
.join__block {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  border-radius: 10px;
  transform-style: preserve-3d;
}

.join__block_position_back {
  transform: rotateY(180deg);
}

/* transform дает объемность, box-sizing и padding для правильного отображения */
.join__form {
  width: 100%;
  padding: 0 40px;
  transform: translate3d(0, 20px, 35px) perspective(100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  box-sizing: border-box;
}

.join__input {
  margin: 0 0 5px;
}

.join__input::placeholder {
  color: rgba(0, 0, 0, .5);
}

.join__error {
  height: 14px;
  margin: 0 0 5px;
  padding: 0 0 0 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #ff0000;
  align-self: start;
}

.join__message {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #000;
}

.join__button {
  width: auto;
  margin: 10px 0 0;
  padding: 0 20px;
  border: 1px solid rgba(0, 0, 0, .2);
  color: rgba(0, 0, 0, .2);
  font-size: 20px;
  text-align: center;
  cursor: default;
  transition: .3s linear;
}

.join__button_active {
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
}

.join__button_active:hover, .join__button_active:focus-visible {
  outline: none;
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .join__title {
    margin: 0 0 20px;
    font-size: 30px;
  }
}

@media screen and (max-width: 425px) {
  .join__title {
    margin: 0 0 20px;
    font-size: 25px;
  }

  .join__form {
    padding: 0 25px;
  }
}